/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	--gutter-x : 2.4rem;
	--gutter-y : 2.4rem;
	
	display: flex;
	flex-flow: row wrap;
	row-gap: var(--gutter-y);
	margin: 0 calc(var(--gutter-x) * -0.5);

	.grid__col {
		--col-size: 100%;
		width: var(--col-size)!important;
		padding: 0 calc(var(--gutter-x) * 0.5); 
		margin-left:var(--offset);
	}

	@for $i from 1 through 12 {
		.grid__col--#{$i}of12 { --col-size: calc(100% / 12 * #{$i} );}
		.offset-#{$i}of12     { --offset:   calc(100% / 12 * #{$i} );}
	}
	
	@include breakpoint-down(tablet) {
		@for $i from 1 through 6 {
			.grid__col--tablet-#{$i}of6 { --col-size: calc(100% /6*#{$i});}
		}

		&.grid--disable-tablet > .grid__col {
			--col-size: 100%;
			--offset: 0rem;
		}
	}
	
	@include breakpoint-down(mobile) {
		@for $i from 1 through 3 {
			.grid__col--mobile-#{$i}of3 { --col-size: calc(100% /12*#{$i});}
		}

		&.grid--disable-mobile > .grid__col {
			@include breakpoint-down(mobile) {
				--col-size: 100%;
				--offset: 0rem;
			}
		}
	}
}
