/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 13;
	padding: 3.2rem 0;
	

	@include breakpoint-down(tablet) {
		position: fixed;
		padding: 1.5rem 0;
	}

	.header__inner {
		display: flex;
		align-items: center;

		.logo {
			margin-right: auto;

			@include breakpoint-down(tablet) {
				position: relative;
				z-index: 2;
			}
		}
	}
}

.home .header{
	opacity: 0;
}

body:has(.hero) .header {
	transform: translateY(-100%);
}

body:has(.loader.state-3) .header {
	transform: translateY(0);
	opacity: 1;
	transition: transform 1s 0s;
}

.pas-hero .header {
	@include breakpoint-down(tablet) {
		background-color: color-mix(in srgb, var(--primary) 90%, transparent);
	}
}


.home:not(.is-menu-open) {
	@include breakpoint-down(mobile) {
		.header .logo {
			transition: opacity 0.3s;
			opacity: 0;
		}
		&.pas-hero .header .logo {
			opacity: 1;
		}
	}
}
