/* ------------------------------------------------------------ *\
    Link File
\* ------------------------------------------------------------ */

.link-file {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.3s;
	word-break: break-all;

	&:before {
		content: '';
		width: 2.4rem;
		min-width: 2.4rem;
		aspect-ratio: 1;
		background-color: currentColor;
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-opacity=".5" stroke-width="2" d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7l-5-5Z"/><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-opacity=".5" stroke-width="2" d="M14 2v4a2 2 0 0 0 2 2h4M12 18v-6M9 15l3 3 3-3"/></svg>');
		mask-size: 100% 100%;
	}

	@include hover {
		opacity: 1;
	}
}