/* ------------------------------------------------------------ *\
    Mask Img
\* ------------------------------------------------------------ */

.mask-img {
	display: block;
	font-size: 0;
	mask-image: var(--url);
	mask-size: 100% 100%;
	width: fit-content;
	background-color: currentColor;

	img {
		content: var(--url);
		opacity: 0;
		display: block;
	}
}