/* ------------------------------------------------------------ *\
    Nav Trigger
\* ------------------------------------------------------------ */

.nav-trigger {
	@include breakpoint-up(tablet) {
		display: none !important;
	}
	position: relative;
	display: inline-block;
	width: 40px;
	height: 26px;
	color: currentColor;

	span {
		position: absolute;
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background: currentcolor;
		transition: top .2s .25s, opacity .2s .25s, transform .2s 0s;

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
		&:nth-child(3) {
			top: 100%;
			transform: translateY(-100%);
		}
	}
}

.is-menu-open .nav-trigger {
	span {
		transition: background .2s, top .2s, opacity .2s, transform .2s .25s;

		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(1) {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		&:nth-child(3) {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}
