/* ------------------------------------------------------------ *\
    Section Img
\* ------------------------------------------------------------ */

.section-img {
	img {
		opacity: 0.5;
		max-height: 49.8rem;
		object-fit: cover;
	}
}