/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Be Vietnam';
    src: url('/assets/fonts/BeVietnam-Regular.woff2') format('woff2'),
        url('/assets/fonts/BeVietnam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('/assets/fonts/BeVietnam-Medium.woff2') format('woff2'),
        url('/assets/fonts/BeVietnam-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}