<footer class="footer">
	<div class="shell shell--big">
		<div class="footer__inner">
			<div class="grid">
				<div class="grid__col grid__col--6of12">
					<p>
						<span class="js-rich-text" data-name="footer-copy"></span><br>

						<a href="/assets/files/policy.pdf" target="_blank">ISO 9001:2015</a>, <a href="/assets/files/policy.pdf" target="_blank">ISO 14001:2015</a>
					</p>
				</div><!-- /.grid__col -->
				
				<div class="grid__col grid__col--6of12">
					<nav class="socials">
						<ul>
							<li>
								<a href="https://www.linkedin.com/in/kiril-dimitrov-2212921b8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
									<div class="mask-img" style="--url:url(../assets/images/icons/ico-instagram.svg)"><img alt="ico"></div><!-- /.mask-img -->
								</a>
							</li>
						</ul>
					</nav>
					<!-- /.socials -->
					<p class="copyright">&copy; 2024 keld-engineering.com</p><!-- /.copyright -->
				</div><!-- /.grid__col -->
			</div><!-- /.grid -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer>