<footer class="footer">
	<div class="shell shell--big">
		<div class="footer__inner">
			<div class="grid">
				<div class="grid__col grid__col--6of12">
					<p>Certified by:<br> ISO 9001:2015, ISO 14001:2015</p>
				</div><!-- /.grid__col -->
				
				<div class="grid__col grid__col--6of12">
					<nav class="socials">
						<ul>
							<li>
								<a href="#">
									<div class="mask-img" style="--url:url(../assets/images/icons/ico-instagram.svg)"><img alt="ico"></div><!-- /.mask-img -->
								</a>
							</li>
						</ul>
					</nav>
					<!-- /.socials -->
					<p class="copyright">&copy; 2024 keld-engineering.com</p><!-- /.copyright -->
				</div><!-- /.grid__col -->
			</div><!-- /.grid -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer>