<header class="header">
	<div class="shell">
		<div class="header__inner">
			<a href="index.html" class="logo">
				<img src="/assets/images/logo.svg" alt="logo KelD Engineering Ltd">

				<span class="slogan">KelD Engineering Ltd</span><!-- /.slogan -->
			</a><!-- /.logo -->

			<div class="menu">
				<nav class="nav js-nav">
					<ul></ul>
				</nav><!-- /.nav -->
				
				<nav class="nav-lang js-nav-lang">
					<ul>
						<li>
							<a href="#en">En</a>
						</li>
	
						<li>
							<a href="#bg">BG</a>
						</li>
					</ul>
				</nav><!-- /.nav-lang -->
			</div><!-- /.menu -->

			<a href="#" class="nav-trigger js-nav-trigger">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- Your header goes here -->